.auth-input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.auth-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.auth-button {
    margin: 10px;
    background-color: yellowgreen;
    border: 0px transparent;
    border-radius: 10%;
    padding: 10px;
}

.auth-title {
    font-weight: bolder;
    width: 40%;
    margin: auto;
    background-color: whitesmoke;
    height: 100%;
    border-radius: 5%;
    padding: 30px;
    margin-top: 10%;
    height: 400px;
}

.auth-signup {
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
}