.card-desc-title {
    width: 50%;
    margin: auto;
    margin-top: 20%;
    font-size: 4vw;
    border-radius: 10%;
    background-color:  rgb(248, 248, 95);
    box-shadow: 5px 3px black;
    text-shadow: 1px 1px white;
}

.card-content {
    width: 50%;
    margin: auto;
    font-size: 1.5em;
}

.card-content-item {
    margin-bottom: 10px;
}

.card-link-item {
    margin-right: 10px;
    text-decoration: underline;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
    .card-content {
        text-align: justify;
    }
}