.bg-color {
    background-color: rgb(214, 231, 141);
}

.brandName {
    color: black;
    font-size: 2vw;
    font-weight:bolder;
    text-transform: uppercase; 
    text-shadow: 1px 1px whitesmoke;
}

.icon-color {
    color: black;
}

.font-color {
    color: rgb(46, 45, 45)
}

.route-div {
    margin-top: 30%;
}
.response-text {
    margin-top: 10%;
}
.warning-text {
    color: red;
}
@media only screen and (max-width: 680px) {
    .header-navbar {
        font-size: 2.5vw;
    }
}