.row-detail {
    /* border: 1px solid black; */
    width: 0px;
    height: 0px;
    /* border-left: 50px solid black; */
    border-right: 50px solid white;
    border-bottom: 50px solid black;
    width: 33%;
    text-align: center;
    margin:10px auto;
    font-size: 18px;
    font-weight: 600;
}

.rows {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.landing-content {
    margin-top: 10%;
}

@media only screen and (min-height: 680px) {
    .rows {
        display: flex;
        flex-direction: column;
        width:100%;
        left:50%;
    }

    .row-detail {
        font-size: 18px;
    }
}

@media only screen and (min-height: 1024px) {
    .row-detail {
        font-size: 30px;
    }
}