.hobby {
    font-size: 4vw;
    background-color: rgb(248, 248, 95);
    box-shadow: 5px 3px black;
    width: 60%;
    color: black;
    text-shadow: 1px 1px white;
    font-weight: 900;
    margin:auto;  
    border-radius: 10%;
    margin-bottom: 10%;
}

.hobby-desc{
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
}

.fa-youtube {
    color: red;
}

iframe {
    width: 300px;
    height: 200px;
}

@media only screen and (min-width: 700px) {
    iframe {
        width: 80%;
        height: 400px;
    }
}

@media only screen and (min-width: 900px) {
    iframe {
        width: 80%;
        height: 500px;
        margin-bottom: 0;
    }
}